<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ajax JQuery RestApi</title>
    <script type="text/javascript" th:src="@{/ajaxfunctions.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div id="status">Status</div>
<div>Her under kommer billisten</div>
<div id="carList"></div>

<form id="createForm">
    <input type="text" id="name" placeholder="Car name">
    <input type="submit" value="Create">
</form>

<script type="text/javascript">

    $(document).ready(function() {//kald først jQuery-funktioner,når siden er klar
        getCars();
        preventSubmit($("#createForm"));
    });
</script>

</body>
</html>